<div class="small-12 column">
  <h1>De lampen in het echt bekijken of naar een inloopavond voor meer informatie?</h1>

  <h3>Damwâld (Dantumadiel) (Bûterblom, vanaf de Foarwei)</h3>
  <p>Inloopavond datum donderdag 22 juni tussen 20.00 en 22.00 uur. In Restaurant de Kruisweg</p>
  <iframe src="https://www.google.com/maps/d/embed?mid=1fCmPgdl9qaPRCxG1W2F9UGr-lTpK_TI&ehbc=2E312F" width="100%" height="480"></iframe>
</div>
